.section-banner
  position: relative
  padding: 180px 0px 330px 0px
  background-color: $background-dark
  color: #fff
  margin-bottom: 250px
  &__title
    font-size: 75px
    line-height: 75px
    letter-spacing: -0.75px
    color: #fff
    margin-bottom: 40px
  &__subtitle
    font: normal normal 500 20px/13px $roboto
    letter-spacing: 0px
    text-transform: uppercase
    color: $accent
  &__btn
    background-color: transparent
    color: #fff
    border-color: transparentize(#fff, 0.8)
    box-shadow: none
    margin: 0px