.section-products
  margin-top: 100px
  position: relative
  min-height: 650px
  display: flex
  justify-content: center
  > .container
    position: absolute
    top: 0
  &__title
    font-size: 42px
    line-height: 50px
    letter-spacing: -1.26px
    color: #0F1429
    margin-bottom: 40px
  &__subtitle
    font-size: 20px
    //line-height: 130px
    text-transform: uppercase
    letter-spacing: 0px
    color: $primary-color
  &__description
    font-size: 17px
    line-height: 30px
    letter-spacing: 0px
    color: $body-text
    max-width: 480px

.product-card-wrapper
  a
    z-index: 2
    position: relative
    text-decoration: none
    display: block
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      display: block
      background-color:  $primary-color
      border-radius: 10px
      z-index: -1
      transition: all .2s ease-in-out
      opacity: 0
      border-radius: 15px
    &:hover
      .product-card
        margin-top: -10px
        margin-bottom: 50px
      &::before
        opacity: 1
        top: -4px
        left: -4px

.product-card
  padding: 50px
  margin-bottom: 40px 
  box-shadow: 0px 10px 60px #BDBDBD4D
  border-radius: 10px
  background-color: #fff
  transition: all .2s ease-in-out
  i
    font-size: 40px
    color: $primary-color
    background-color: $accent
    padding: 15px
    border-radius: 100px
    box-shadow: 0px 10px 60px $accent
    display: inline-block
    margin-bottom: 30px
  &__title
    font-size: 22px
    line-height: 30px
    letter-spacing: -0.66px
    color: #36234B
  &__description
    font-size: 17px
    line-height: 30px
    letter-spacing: 0px
    color: $body-text
  &__btn
    font-size: 15px
    letter-spacing: 0.45px
    text-transform: uppercase
    text-decoration: none
    color: $primary-color

@include media-breakpoint-down(xl)
  .product-card
    min-height: 458px
  .section-products
    min-height: 470px
    &__description
      margin-bottom: 60px

@include media-breakpoint-down(md)
  .section-products
    min-height: 620px
    &__title
      font-size: 34px

@include media-breakpoint-down(sm)
  .section-products
    &__title
      font-size: 34px