.section-webinar-posts
  background-color: $background-grey
  padding-top: 150px
  padding-bottom: 200px
  h2
    color: $background-dark
    font-family: $roboto
    font-size: 93px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin-bottom: 80px
  .card-webinar-wrapper
    margin-bottom: 74px
    &:last-of-type
      margin-bottom: 0
    .card-webinar
      padding-top: 72px
      padding-bottom: 90px
      padding-left: 90px
      padding-right: 90px
      border-radius: 21px
      background: #F6F9FF
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15)
      .webinar-thumbnail
        width: 158px
        max-width: 100%
        height: auto
        object-fit: cover
      h3
        color: $background-dark
        font-family: $roboto
        font-size: 42px
        font-style: normal
        font-weight: 400
        line-height: normal
      hr
        background-color: $accent
        height: 2px
        opacity: 1
      .card-webinar-details
        &--description

        &--item
          color: $background-dark
          font-family: $roboto
          font-size: 15px
          font-style: normal
          font-weight: 400
          line-height: 23px
          letter-spacing: 0.15px
          span
            font-weight: 700
        &--button
          font-family: $roboto
          font-weight: bold
          font-size: 15px
          line-height: 13px
          letter-spacing: 0.45px
          padding: 16px 36px
          text-transform: uppercase
          text-align: center
          background-color: $primary-color
          color: #fff 
          border: 2px solid transparent
          border-radius: 26px
          box-shadow: 0px 10px 30px rgba(0, 64, 229, 0.30)
          transition: all .3s ease-in-out
          text-decoration: none
          cursor: pointer
          z-index: 2
          position: relative
          display: inline-flex
          justify-content: space-between
          align-items: center
          margin-top: 26px
          &:hover
            background-color: $btn-dark-blue
            box-shadow: 0px 8px 26px transparentize($btn-dark-blue,0.6)
            color: #fff
          svg
            margin-right: 20px

@media (max-width: 1024px)
  .section-webinar-posts
    background-color: $background-grey
    padding-top: 58px
    padding-bottom: 58px
    padding-left: 20px
    padding-right: 20px
    h2
      font-size: 32px
      margin-bottom: 48px
    .card-webinar-wrapper
      margin-bottom: 52px
      &:last-of-type
        margin-bottom: 52px
      .card-webinar
        padding: 38px 32px
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.15)
        .webinar-thumbnail
          width: 56px
          margin-bottom: 16px
        h3
          font-size: 22px
        .card-webinar-details
          &--description
            display: block
          &--button
            margin-top: 26px
            svg
              margin-right: 10px
            &.youtube-btn
              padding: 16px