@import '_hero'
@import '_highlights'
@import '_html-mailings'
@import '_offers'

.page-template-page-landing-page
  .main-content
    padding-top: 120px
  .demo-request-content
    .page-title
      margin-bottom: 60px

.landing-page-header
  background-color: #fff
  .custom-logo-link
    .st0
      fill: #000