.section-offers
  padding: 140px 0px
  background-color: $primary-color
  .section-title
    font-size: 42px
    line-height: 50px
    margin-bottom: 20px
  .section-subtitle
    font-size: 24px
    line-height: 40px
    letter-spacing: 0px
    margin-bottom: 80px
  .info-notes
    margin-bottom: 0px
    font-size: 12px
    font-style: italic
    line-height: 18px
    color: #6E727D
  .offer-card-column
    margin-bottom: 60px
    &:first-of-type
      .offer-card__title
        color: $accent
    &:last-of-type
      .offer-card__title
        color: #E7352C
  .offer-card
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    border-radius: 15px
    padding: 40px
    background-color: #fff
    margin: 0px 15px 20px 15px
    box-shadow: 0px 10px 60px #FFFFFF4D
    img
      position: absolute
      top: -20px
      right: -15px
    &__title
      font-size: 42px
      font-weight: bold
      line-height: 42px
      margin-bottom: 0px

    &__legend
      display: block
      font-size: 17px
      line-height: 30px
      color: #6E727D
      margin-bottom: 40px
    &__includes
      color: $primary-color
      margin-bottom: 20px
      &--items
        margin-bottom: 30px
        ul
          li
            font-family: $roboto
            font-size: 17px
            line-height: 30px

    &__price
      font-size: 42px
      font-weight: bold
      line-height: 30px
      color: $primary-color
      margin-bottom: 20px
