.section-servicesintro
    overflow: hidden
    margin-top: 10px 
    padding: 130px 0
    background-color: $blue
    &__content-wrapper
        max-width: 570px
        margin-top: 50px
    &__img-pack
        position: relative
        display: block
        margin: 0 0 0 auto
    &__img-abbot
        position: absolute
        right: 120px
        top: 0px
    &__img-abtop
        position: absolute
        right: -180px
        top: 130px
    &__leftcol
        z-index: 4
    &__rightcol
        z-index: 5
        padding: 0 0 0 60px
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $background-green
    &__title
        font-family: $roboto
        font-size: 42px
        font-weight: 400
        color: #fff
        margin-bottom: 30px
        max-width: 400px
    &__text
        font-family: $roboto
        font-size: 17px
        line-height: 30px
        color: #fff
        max-width: 410px

.section-servicescontent-1
    overflow: hidden
    padding: 130px 0
    background-color: #fff
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $electric-blue
    &__title
        font-family: $roboto
        font-size: 42px
        font-weight: 400
        color: $blue
        margin-bottom: 30px
    &__text
        font-family: $roboto
        font-size: 17px
        line-height: 30px
        color: $body-text
        max-width: 410px
    &__list
        list-style: none
        padding-left: 18px
        li
            font-family: $roboto
            font-size: 18px
            color: $blue
            position: relative
            line-height: 30px
            margin-bottom: 10px
            &::before
                content: "●"
                color: #4DEBB3
                display: inline-block
                width: 1em
                margin-left: -1em
    &__content-wrapper
        max-width: 490px
        float: right
    &__img-pack
        position: relative
        padding-left: 80px
    &__img-abbot
        position: absolute
        left: -20px
        top: 145px
    &__img-abtop
        position: absolute
        left: 50px
        top: -30px
        min-width: 1080px
    &__leftcol
        padding: 0 0 0 60px

.section-servicescontent-2
    padding: 130px 0
    background-color: $background-grey
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $electric-blue
    &__title
        font-family: $roboto
        font-size: 42px
        font-weight: 400
        color: $blue
        margin-bottom: 30px
        max-width: 400px
    &__text
        font-family: $roboto
        font-size: 17px
        line-height: 30px
        color: $body-text
        max-width: 410px
    &__list
        list-style: none
        padding-left: 18px
        li
            font-family: $roboto
            font-size: 18px
            color: $blue
            position: relative
            line-height: 30px
            margin-bottom: 10px
            &::before
                content: "●"
                color: #4DEBB3
                display: inline-block
                width: 1em
                margin-left: -1em
    &__content-wrapper
        max-width: 400px
        margin-top: 70px
    &__img-svg
        float: right
    &__leftcol
        padding: 0 60px 0 0
    &__rightcol
        padding: 0 0 0 60px