body
  font-family: $roboto

body.is-open
  overflow: hidden

.main-content
  padding-top: 108px

@include media-breakpoint-down(xl)
  .main-content
    padding-top: 92px

@include media-breakpoint-down(sm)
  .main-content
    padding-top: 72px

.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  word-wrap: normal !important
  &:focus
    background-color: #eee
    clip: auto !important
    clip-path: none
    color: #444
    display: block
    font-size: 1em
    height: auto
    left: 5px
    line-height: normal
    padding: 15px 23px 14px
    text-decoration: none
    top: 5px
    width: auto
    z-index: 100000

.custom-container-full
  @include make-container()
  width: 1280px

.custom-container-inner
  @include make-container()
  width: 1000px

@import 'channelmanager'
@import 'revenue-manager'
@import 'webbookingengine'
@import 'gds'
@import 'main-header'
@import 'main-nav'
@import '_front-page/banner'
@import '_front-page/highlights'
@import '_front-page/products'
@import '_front-page/services'
@import '_front-page/cta'
@import '_front-page/testimonials'
@import '_front-page/partners'
@import 'newsletter'
@import 'footer'