.section-wbeintro
    margin-top: 95px
    &__leftcol
        padding: 130px 0
    &__rightcol
        background-color: $background-green
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $electric-blue
    &__title
        font-family: $roboto
        font-size: 75px
        font-weight: 400
        line-height: 75px
        letter-spacing: -0.1px
        color: $blue
        margin-bottom: 25px
    &__text
        font-family: $roboto
        font-size: 17px
        line-height: 30px
        color: $body-text
    &__content-wrapper
        max-width: 400px
        float: right
        margin-right: 150px