.section-wbeintro
    margin-top: 95px
    &__leftcol
        padding: 130px 0 30px 0
    &__rightcol
        padding: 130px 0 30px 0
        background-color: $electric-blue
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $electric-blue
    &__title
        font-family: $roboto
        font-size: 75px
        font-weight: 400
        line-height: 75px
        letter-spacing: -0.1px
        color: $blue
        margin-bottom: 25px
    &__text
        font-family: $roboto
        font-size: 17px
        line-height: 30px
        color: $body-text
        max-width: 395px
    &__content-wrapper
        max-width: 400px
        float: right
        margin-right: 180px
        margin-top: 80px
    &__img-pack
        position: relative
        display: block
        margin-left: -160px
    &__img-abtop
        position: absolute
        left: 125px
        top: -40px
    &__img-abbot
        position: absolute
        left: 300px
        top: 160px

.section-wbecontent-1
    padding: 130px 0
    background-color: $blue
    &__content-wrapper
        max-width: 570px
        margin-top: 50px
    &__img-pack
        position: relative
        display: block
        margin: 0 0 0 auto
    &__img-abbot
        position: absolute
        right: 120px
        top: 0px
    &__img-abtop
        position: absolute
        right: -180px
        top: 130px
    &__leftcol
        z-index: 4
    &__rightcol
        z-index: 5
        padding: 0 0 0 60px

.section-wbecontent-2
    padding: 130px 0
    background-color: #fff
    &__subtitle
        font-family: $roboto
        font-size: 18px
        text-transform: uppercase
        color: $electric-blue
        text-align: center
    &__title
        font-family: $roboto
        font-size: 42px
        font-weight: 400
        color: $blue
        margin: 0 auto 30px auto
        max-width: 400px
        text-align: center
    &__list
        list-style: none
        li
            font-family: $roboto
            font-size: 22px
            color: $blue
            position: relative
            &::before
                content: "●"
                color: $electric-blue
                display: inline-block
                width: 1em
                margin-left: -1em
        p
            font-family: $roboto
            font-size: 17px
            color: $body-text
            max-width: 500px
            margin-bottom: 30px
    &__content-wrapper
        max-width: 530px
    &__img
        display: block
        margin: 0 auto 50px auto
    &__leftcol
        .section-wbecontent-2__content-wrapper
            float: right